# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# maven
target
# eclipse
.classpath
.project
.settings
# vscode
.vscode

# dev resources
external_references
samples
test_output
.cached_classpath
prompt.md
